.taskBox {
  border: 2px solid #cdd3d1;
  border-radius: 5px;
  background-color: #c7e0e5;
  padding: 0px 10px;
  display: flex;
  margin-block: 8px;
}

.taskText {
  width: 100%;
}

.deleteButton {
  background-color: #1c1ca2;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  margin-inline-start: 10px;
  padding: 10px;
}
.deleteButton:hover {
  background-color: #15157e;
}

.checkBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
